{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier/@typescript-eslint",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "class-methods-use-this": "off",
    "no-useless-constructor": "off",
    "@typescript-eslint/keyword-spacing": "error",
    "@typescript-eslint/ban-types": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/no-var-requires": "off",
    "no-useless-escape": "off",
    "prefer-rest-params": "off",
    "@typescript-eslint/no-unused-vars": ["warn", {
      "argsIgnorePattern": "_"
    }]
  }
}
